extends layout

block content
  h1 #{title}
  div
    each catSchema, i in cats
      div(value=catSchema) Cat's name is #{catSchema.name}. It is #{catSchema.age} years old. It is the color of #{catSchema.color}.